body {
    background: url('https://source.unsplash.com/7680x4320/?nature') no-repeat center;
    background-size: cover;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}